@charset "UTF-8";

/* ---------- G E R A L ---------- */

/* #040926 #357DED #4EFFEF #D3FFF3 */

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #040926;
}

h1, h2, h3 {
    color: white;
    font-family: monospace;
}

img {
    user-select: none;
}