@charset "UTF-8";

/* h a b i l i d a d e s */

#habilidades ul {
    width: 60vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-top: 45px;
    gap: 30px;
}

#habilidades ul li {
    list-style-image: url(../Images/icones/arrowhead-bullet.png);
}