@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #040926;
}

h1 {
    color: white;
    font-family: monospace;
}

h2 {
    color: white;
    font-family: monospace;
    margin: 20px;
}

h3 {
    color: white;
    font-family: monospace;
}

main section p {
    color: white;
}

section ul li {
    color: white;
}

#inicio p {
    color: #777777;
    font-family: monospace;
}

#inicio img {
    width: 100px;
}